<div data-ng-controller="TerritoriesController">
  <div class="container">
    <section>
        <h1>APAC</h1>

        <h2>
          Total income: {{territories[4].income + territories[6].income}}
        </h2>

        <table class="table">
          <thead>
            <tr>
              <th>Child Territory</th>
              <th>Income</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <a data-ui-sref="app.apac">
                  {{territories[4].title}}
                </a>
              </td>
              <td>{{territories[4].income}}</td>
            </tr>

            <tr>
              <td>
                <a data-ui-sref="app.emea">
                  {{territories[6].title}}
                </a>
              </td>
              <td>{{territories[6].income}}</td>
            </tr>
          </tbody>
        </table>
    </section>
  </div>
</div>
