<div data-ng-controller="TerritoriesController">
  <div class="container">
    <section>
        <h1>Worlwide</h1>

        <h2>
          Total income: {{territories[1].income + territories[2].income + territories[3].income}}
        </h2>

        <table class="table">
          <thead>
            <tr>
              <th>Child Territory</th>
              <th>Income</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <a data-ui-sref="app.apac">
                  {{territories[1].title}}
                </a>
              </td>
              <td>{{territories[1].income}}</td>
            </tr>

            <tr>
              <td>
                <a data-ui-sref="app.emea">
                  {{territories[2].title}}
                </a>
              </td>
              <td>{{territories[2].income}}</td>
            </tr>

            <tr>
              <td>
                <a data-ui-sref="app.na">
                  {{territories[3].title}}
                </a>
              </td>
              <td>{{territories[3].income}}</td>
            </tr>
          </tbody>
        </table>
    </section>
  </div>
</div>
